.item-name {
  font-weight: 700;
}

.seller-name {
  font-weight: 700;
}

.price {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 300;
  &-value {
    font-weight: 500
  }
}
.contact {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 300;
  &-value {
    font-weight: 500
  }
}
.mat-dialog-actions {
  flex-direction: row-reverse;
}