<button mat-button [matMenuTriggerFor]="themeMenu">
  <i class="material-icons md-24">color_lens</i>
  <span class="button-label">{{ 'themeSwitch.title' | translate }}</span>
</button>

<mat-menu #themeMenu="matMenu">
  <button mat-menu-item (click)="switchTheme('hazy-day-theme')">
    <span class="hazy-day-swatch theme-preview">
      <i *ngIf="currentTheme === 'hazy-day-theme'" class="material-icons checkbox">done</i>
    </span>
    <span>{{ 'themeSwitch.hazyDay' | translate }}</span>
  </button>
  <button mat-menu-item (click)="switchTheme('black-watch-theme')">
    <span class="black-watch-swatch theme-preview">
      <i *ngIf="currentTheme === 'black-watch-theme'" class="material-icons checkbox">done</i>
    </span>
    <span>{{ 'themeSwitch.blackWatch' | translate }}</span>
  </button>
</mat-menu>
