@import '~@angular/material/theming';

@mixin theme-switch-component-colors($theme1, $theme2) {
  $primary1: map-get($theme1, primary);
  $primary2: map-get($theme2, primary);

  .hazy-day-swatch {
    background-color: map-get($primary1, default-contrast);
    border-color: map-get($primary1, default);
  }
  .black-watch-swatch {
    background-color: map-get($primary2, default-contrast);
    border-color: map-get($primary2, default);
  }
}
