<mat-sidenav-container class="main-sidenav-container">
  <mat-sidenav #mainSidenav class="main-sidenav">
    <a mat-button routerLink="catalog" routerLinkActive="active"
      (click)="onMenuItemClick()"
      class="main-sidenav-item">
      {{ 'sidenav.catalog' | translate }}</a>
    <a mat-button routerLink="my-items" routerLinkActive="active"
      (click)="onMenuItemClick()"
      class="main-sidenav-item"
      *ngIf="userSettings.role !== 2">
      {{ 'sidenav.myItems' | translate }}</a>
    <a mat-button routerLink="howto" routerLinkActive="active"
      (click)="onMenuItemClick()"
      class="main-sidenav-item">
      {{ 'sidenav.howto' | translate }}</a>
    <a mat-button routerLink="about" routerLinkActive="active"
      (click)="onMenuItemClick()"
      class="main-sidenav-item">
      {{ 'sidenav.about' | translate }}</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
