<h2 mat-dialog-Title>{{ 'loginForm.title' | translate }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="login_str" placeholder="{{placeholderLogin}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password_str" type="password" placeholder="{{placeholderPassword}}">
  </mat-form-field>
  <div *ngIf="showUserNotFound" class="user-not-found">{{ 'loginForm.userNotFound' | translate }}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'loginForm.cancel' | translate }}</button>
  <button mat-button (click)="login(login_str, password_str)" color="accent">{{ 'loginForm.login' | translate }}</button>
</mat-dialog-actions>