<mat-card class="howto-card">
    <mat-card-content class="content">
      <h1 [translate]="'howto.title'">How To</h1>
      <article>
        <h2 [translate]="'howto.description.title'"></h2>
        <p [innerHTML]="'howto.description.content' | translate"></p>
  
        <h2 [translate]="'howto.buy.title'"></h2>
        <p [translate]="'howto.buy.description'"></p>
        <ul [innerHTML]="'howto.buy.steps' | translate">
        </ul>

        <h2 [translate]="'howto.sell.title'"></h2>
        <p [translate]="'howto.sell.description'"></p>
        <ul [innerHTML]="'howto.sell.steps' | translate">
        </ul>

      </article>
    </mat-card-content>
  </mat-card>
  