<mat-card class="howto-card">
    <mat-card-content class="content">
      <h1 [translate]="'howto.title'">How To</h1>
      <article>
        <h2 [translate]="'howto.description.title'">Description</h2>
        <p [innerHTML]="'howto.description.content' | translate">This article describes how to use Shadow Market app.
        </p>
  
        <h2 [translate]="'howto.buy.title'">How to buy item</h2>
        <p [translate]="'howto.buy.description'">You don't buy an item directly from the app, rather have contact to seller so you can discuss final price and shipment options.</p>
        <ul [innerHTML]="'howto.buy.steps' | translate">
          <li>Go to <a href="/catalog">catalog</a></li>
          <li>Chose item you like</li>
          <li>If you want to accuire an item right away, you can click "Buy" button</li>
          <li>In other case you can click "Details" to see item detailed description</li>
          <li>Clicking "Buy" button brings the seller contact dialog</li>
          <li>Contact the seller to negotiate a deal</li>
        </ul>

        <h2 [translate]="'howto.sell.title'">How to sell item</h2>
        <p [translate]="'howto.sell.description'">To sell the item from Shadow Market follow the steps below:</p>
        <ul [innerHTML]="'howto.sell.steps' | translate">
          <li>First you need to login to the app. <em>For demo purposes, use existing user names mentioned on items without a password</em></li>
          <li>Go to <a href="/my-items">My Items</a> section</li>
          <li>Click "New Item" button</li>
          <li>Set title, description, price and don't forget about photos</li>
          <li>Click "Save" now you can see your item in the catalog so do other visitors</li>
          <li>You can always update your item from <a href="/my-items">My Items</a> chosing you item</li>
          <li>Don't forget to delete item as soon as you sell it. In <a href="/my-items">My Items</a> menu chose item to remove and use floating menu to the right</li>
        </ul>

      </article>
    </mat-card-content>
  </mat-card>
  