@import '../../breakpoints';

// Secondary active elements color.
$secondary-active-color: #676b6e;

.catalog-item {
  margin: 20px;
  padding: 20px 20px;
  // height: 160px;
  @media all and (max-width: $media-width-small) {
    //height: 380px;
  }

  &-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media all and (max-width: $media-width-small) {
      flex-wrap: wrap;
    }
  }

  &-edit-menu {
    position: absolute;
    right: 2px;
    top: -1px;
  }

  &-image-container {
    max-width: 200px;
    min-width: 150px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-description {
    flex-grow: 1;
    padding: 0 3px;

    &-icon {
      i {
        font-size: 17px;
      }
    }
    &-likes-count {
      left: -5px;
      margin-right: 7px;
      position: relative;
    }
    &-text {
      margin-top: 9px;
      height: 82px;
      overflow: hidden;
      position: relative;
    }
    &-spacer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 25px;
      width: 100px;
      // background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
    }
  }

  &-title {
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100px;
    @media all and (max-width: $media-width-small) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    &-amount {
      display: block;
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      margin: 0 0 15px 0;
      text-align: center;
    }
    &-details {
      display: block;
      margin: 0 auto 7px;
      @media all and (max-width: $media-width-small) {
        flex-grow: 1;
        margin-left: 15px;
      }
    }
    &-buy {
      display: block;
      margin: 0 auto 7px;
      @media all and (max-width: $media-width-small) {
        flex-grow: 1;
        margin-left: 15px;
      }
    }
  }
}

// ToDo: check layout around 484px, when the title is relatively long.
