<mat-card class="catalog-item">
  <mat-card-content class="catalog-item-content">
    <div class="catalog-item-image-container">
      <img src="{{catalogItem.photos[0].url}}"
          alt="{{catalogItem.title}}">
    </div>
    <div class="catalog-item-description">
      <h2 class="catalog-item-title">
        <a href="my-items/{{catalogItem.id}}" *ngIf="editMode">{{catalogItem.title}}</a>
        <a href="catalog/{{catalogItem.id}}" *ngIf="!editMode">{{catalogItem.title}}</a>
      </h2>
      <div class="catalog-item-description-details">
        <span class="catalog-item-description-icon">
          <button mat-icon-button>
            <i class="material-icons like">favorite</i>
          </button>
          <span class="catalog-item-description-likes-count">{{catalogItem.likes}}</span>
        </span>
        <span class="catalog-item-description-icon">
          <i class="material-icons">visibility</i> {{catalogItem.views}}
        </span>
        <span class="item-by">Item by: <span class="user-name">{{catalogItem.user_name}}</span></span>
      </div>
      <div class="catalog-item-description-text">
        <span>{{catalogItem.description}}</span>
        <span class="catalog-item-description-spacer">&nbsp;</span>
      </div>
    </div>
    <div class="catalog-item-price">
      <span class="catalog-item-price-amount">{{catalogItem.price}} $</span>
      <a class="catalog-item-price-details" *ngIf="editMode == undefined"
        href="catalog/{{catalogItem.id}}"
        mat-raised-button
        >{{ 'catalogItemPreview.details' | translate }}</a>
      <button class="catalog-item-price-buy" *ngIf="editMode == undefined"
        mat-raised-button color="accent"
        >{{ 'catalogItemPreview.buy' | translate }}</button>
    </div>
    <button mat-icon-button
      class="catalog-item-edit-menu"
      *ngIf="editMode"
      [matMenuTriggerFor]="itemMenu">
      <i class="material-icons">more_vert</i>
    </button>
  </mat-card-content>
</mat-card>

<mat-menu #itemMenu="matMenu">
  <button mat-menu-item (click)="editItem()">
    <mat-icon>mode_edit</mat-icon>
    <span>{{ 'catalogItemPreview.edit' | translate }}</span>
  </button>
  <button mat-menu-item (click)="openConfirmDeleteDialog()">
    <mat-icon>delete</mat-icon>
    <span>{{ 'catalogItemPreview.delete' | translate }}</span>
  </button>
</mat-menu>
