@import '../../breakpoints';

.catalog-item {
  margin: 20px;
  padding: 7px;

  &-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media all and (max-width: $media-width-small) {
      flex-wrap: wrap;
    }
  }

  &-image-container {
    max-width: 200px;
    min-width: 150px;
  }

  &-description {
    flex-grow: 1;
    padding: 0 3px;

    &-icon {
      color: #b8b8b8;
      i {
        font-size: 17px;
      }
    }
    &-like {
      color: #676b6e;
    }
    &-likes-count {
      left: -5px;
      margin-right: 7px;
      position: relative;
    }
    &-text {
      margin-top: 9px;
    }
  }
  &-price {
    min-width: 100px;
    &-amount {
      display: block;
      font-size: 20px;
      font-weight: 500;
      margin: 10px auto;
      text-align: center;
    }
    &-buy {
      display: block;
      margin: 0 auto;
    }
  }
}
