@import '../../breakpoints';

// Secondary active elements color.
$secondary-active-color: #676b6e;

.catalog-item {
  margin: 20px;
  padding: 30px 20px;

  &-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media all and (max-width: $media-width-small) {
      flex-wrap: wrap;
    }
  }

  &-edit-menu {
    position: absolute;
    right: 2px;
    top: -1px;
    color: $secondary-active-color;
  }

  &-image-container {
    max-width: 200px;
    min-width: 150px;
  }

  &-description {
    flex-grow: 1;
    padding: 0 3px;

    &-icon {
      color: #b8b8b8;
      i {
        font-size: 17px;
      }
    }
    &-like {
      color: $secondary-active-color;
    }
    &-likes-count {
      left: -5px;
      margin-right: 7px;
      position: relative;
    }
    &-text {
      margin-top: 9px;
    }
  }

  &-title {
    font-size: 24px;
    line-height: 30px;
  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100px;

    &-amount {
      display: block;
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      margin: 0 0 15px 0;
      text-align: center;
    }
    &-buy {
      display: block;
      margin: 0 auto;
    }
  }
}
