@import '~@angular/material/theming';

@mixin catalog-item-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-catalog-item {
    .catalog-item-title {
      a {
        color: map-get($foreground, text);
      }
    }

    .catalog-item-description-icon {
      color: map-get($primary, default);
      .like {
        color: map-get($primary, darker);
      }
    }

    .catalog-item-edit-menu {
      color: map-get($primary, default);
    }

    .catalog-item-description-spacer {
      $gradient-color: map-get($background, card);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,
        $gradient-color 80%,
        $gradient-color 100%);
    }
  }
}
