<h2 mat-dialog-Title>{{ 'buyDialog.title' | translate:{itemTitle: itemTitle} }}</h2>
<mat-dialog-content>
  <span [innerHTML]="'buyDialog.description' | translate:{itemTitle: itemTitle, sellerName: sellerName}">
</span>
  <div class="price">{{ 'buyDialog.price' | translate }}<span class="price-value">{{price}}$</span></div>
  <div class="contact">{{ 'buyDialog.contact' | translate }}
    <span class="contact-value">
      <a href="mailto:{{sellerContact}}?subject={{itemTitle}}" tabindex="-1">{{sellerContact}}</a>
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" mat-dialog-close tabindex="1">
    {{ 'buyDialog.close' | translate }}
  </button>
</mat-dialog-actions>