<mat-card class="about-card">
  <mat-card-content class="content">
    <h1 [translate]="'about.title'"></h1>
    <article>
      <h2 [translate]="'about.description.title'"></h2>
      <p [innerHTML]="'about.description.content' | translate"></p>

      <h2 [translate]="'about.featuresExplored.title'"></h2>
      <p [translate]="'about.featuresExplored.description'"></p>
      <ul [innerHTML]="'about.featuresExplored.features' | translate">
      </ul>

      <h2 [translate]="'about.installation.title'">Installation</h2>
      <p [translate]="'about.installation.description'">
      </p>
      <ol [innerHTML]="'about.installation.steps' | translate">
      </ol>

      <h2 [translate]="'about.contacts.title'">Contacts</h2>
      <p [innerHTML]="'about.contacts.content' | translate"></p>
      <span [innerHTML]="'about.contacts.author' | translate"></span>

    </article>
  </mat-card-content>
</mat-card>
