<mat-card class="catalog-item">
  <mat-card-content class="catalog-item-content">
    <h1>About</h1>
    <article>
      <h2>Description</h2>
      <p>This app is created to explore <a href="https://angular.io/">Angular 5</a> features. In the current state the app is in serverless mode.
      </p>

      <h2>Angular features exploited</h2>
      <p>Following features were utilized by the app:</p>
      <ul>
        <li>TypeScript language and it's features</li>
        <li>Angular components and modules</li>
        <li>Angular services to pass data between unrelated components</li>
        <li>Material design for Angular</li>
        <li>Application routing</li>
        <li>RxJS and Observable pattern</li>
        <li>Angular forms: reactive forms</li>
        <li>Custom form controls</li>
        <li>SCSS markup-language</li>
        <li>Angular themisation</li>
      </ul>

      <h2>Installation</h2>
      <p>
        To install the app follow the steps below.
      </p>
      <ol>
        <li>
          Install NodeJS using link <a href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a>
        </li>
        <li>
          From the command line install Angular 5: <code>npm install -g @angular/cli</code>
        </li>
        <li>From the command line navigate to project directory and launch: <code>ng serve</code> </li>
        <li>By default the application located at <a href="http://localhost:4200">http://localhost:4200</a></li>
      </ol>

    </article>
  </mat-card-content>
</mat-card>
