@import '~@angular/material/theming';

@mixin side-nav-component-theme($theme) {
  $accent: map-get($theme, primary);
  app-menu {
    .active {
      background-color: map-get($accent, lighter);
      color: map-get($accent, lighter-contrast);
    }
  }
}
