<form #registerForm="ngForm">
<h2 mat-dialog-Title>{{ 'registerForm.title' | translate }}</h2>
<mat-dialog-content >
  <mat-form-field>
    <input 
      matInput [(ngModel)]="login" 
      placeholder="{{placeholderLogin}}" 
      (keydown)="onKeyPress($event.keyCode)"
      name="login"
      required
      minlength="4"
      #loginField="ngModel"
    >
    <mat-error *ngIf="!loginField.valid">
      {{ 'registerForm.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input 
      matInput [(ngModel)]="contact" 
      placeholder="{{placeholderContact}}" 
      (keydown)="onKeyPress($event.keyCode)"
      name="contact"
      minlength="4"
      required
      #contactField="ngModel"
      >
    <mat-error *ngIf="!contactField.valid">
        {{ 'registerForm.required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput [(ngModel)]="password" 
      type="password" placeholder="{{placeholderPassword}}" 
      (keydown)="onKeyPress($event.keyCode)"
      name="password"
      >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="close-button">{{ 'registerForm.cancel' | translate }}</button>
  <button mat-button 
    [disabled]="!registerForm.form.valid"
    (click)="register(login, contact, password)" 
    color="accent">{{ 'registerForm.register' | translate }}</button>
</mat-dialog-actions>
</form>