<mat-toolbar class="main-header" color="primary">
  <button mat-icon-button (click)="toggeSidenav()">
      <i class="material-icons md-32">menu</i>
    </button>
  <span class="header-fill">
    <a routerLink="" class="header-title">
      <span class="title-highlight">S</span>hadow <span class="title-highlight">M</span>arket
    </a>
  </span>

  <button mat-icon-button class="menu-button"  (click)="toggleMenu()">
    <i class="material-icons">apps</i>
  </button>
  <ul class="menu" *ngIf="menuShown">
    <li class="themes">
      <app-theme-switch></app-theme-switch>
    </li>
    <li class="locale">
      <app-locale-switch></app-locale-switch>
    </li>
    <li class="user">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <i class="material-icons md-24">person</i>
        <span class="button-label">{{userSettings.name}}</span>
      </button>
    </li>
  </ul>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="openLoginDialog()" *ngIf="userSettings.id <= 0">
    <span>{{ 'loginMenu.login' | translate }}</span>
  </button>
  <button mat-menu-item (click)="logOut()" *ngIf="userSettings.id > 0">
    <span>{{ 'loginMenu.logout' | translate }}</span>
  </button>
</mat-menu>
