@import '~@angular/material/theming';

@mixin header-component-theme($theme) {
  $primary: map-get($theme, primary);
  app-header {
    .header-title {
      color: map-get($primary, default-contrast);
    }

    .menu {
      background: map-get($primary, default);
    }
  }
}
