@import '~@angular/material/theming';
@import '../breakpoints';

.main-header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  position: fixed;
  z-index: 2;
}

.header-fill {
  flex: 1 1 auto;
}

.header-title {
  font-size: 26px;
  font-weight: 300;
  padding-left: 18px;
  vertical-align: middle;
  text-decoration: none;
}

.menu-button {
  display: none;
  @media all and (max-width: $media-width-small) {
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  @media all and (max-width: $media-width-small) {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.26); // ToDo, replace.
  }

  li {
    button {
      padding: 10px;
      width: 100%;
    }
  }
}
