<mat-toolbar class="main-header" color="primary">
    <button mat-icon-button (click)="toggeSidenav()">
      <i class="material-icons md-32">menu</i>
    </button>
  <span class="header-fill">
    <span class="header-title">ShadowLab</span>
  </span>

  <span class="header-service-controls">
    <app-theme-switch></app-theme-switch>
  </span>
  <span class="header-user-controls">
  <button mat-button>
    <i class="material-icons md-32">person</i> {{userSettings.name}}
  </button>
  </span>
</mat-toolbar>
