@import '~@angular/material/theming';
@import '../breakpoints';

.main-header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  position: fixed;
  z-index: 2;
}

.header-fill {
  flex: 1 1 auto;
}

.header-title {
  font-size: 26px;
  font-weight: 300;
  padding-left: 18px;
  vertical-align: middle;
  text-decoration: none;
}

.menu-button {
  display: none;
  @media all and (max-width: $media-width-small) {
    display: block;
  }
}

.login {
  padding: 0; // Reset default padding
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  @media all and (max-width: $media-width-small) {
    display: none;
  }
}

.mat-menu-item {
  width: 100%;
  padding: 10px;
  height: auto;
  min-width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.theme-preview {
  display: block;
  height: 25px;
  width: 25px;
  margin-right: 7px;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  box-shadow: 1px 1px 2px black;
  
  i {
    display: block;
    font-weight: 600;
  }
}