@import '../../breakpoints';

// Secondary active elements color.
$secondary-active-color: #676b6e;

.catalog-item {
  margin: 20px;
  padding: 20px 20px;
  
  // height: 160px;
  @media all and (max-width: $media-width-small) {
    //height: 380px;
  }

  &-title {
    font-size: 24px;
    height: 30px;
    margin: 0;
    overflow: hidden;
    font-weight: 500;
    line-height: 30px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media all and (max-width: $media-width-small) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-edit-menu {
    position: absolute;
    right: -5px;
    top: -1px;
  }

  &-image-container {
    max-width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      max-height: 100%;
      max-width: 100%;
      border-radius: 3px;
    }
  }

  &-description {
    flex-grow: 1;
    padding: 0 6px;

    &-icon {
      i {
        font-size: 17px;
      }
      margin-right: 10px;
    }
    &-text {
      margin-top: 9px;
      height: 82px;
      overflow: hidden;
      position: relative;
    }
    &-spacer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 25px;
      width: 100px;
    }
    .item-by {
      @media all and (max-width: $media-width-small) {
        display: block;
      }
    }
    .user-name {
      font-weight: 500;
    }
  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100px;
    @media all and (max-width: $media-width-small) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    &-amount {
      display: block;
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      margin: 0 0 15px 0;
      text-align: center;
      min-width: 100%;
    }
    &-details {
      display: block;
      margin: 0 auto 7px;
      @media all and (max-width: $media-width-small) {
        flex-grow: 1;
        min-width: 100%;
      }
    }
    &-buy {
      display: block;
      margin: 0 auto 7px;
      @media all and (max-width: $media-width-small) {
        flex-grow: 1;
        min-width: 100%;
      }
    }
  }
}
