<mat-card class="catalog-item">
  <mat-card-content class="catalog-item-content" *ngIf="catalogItem">
    <div class="catalog-item-image-container">
      <img src="{{catalogItem.photos[0].url}}"
          alt="{{catalogItem.title}}">
    </div>
    <div class="catalog-item-description">
      <h2 class="catalog-item-title">
        <a routerLink="{{catalogItem.id}}" *ngIf="editMode">{{catalogItem.title}}</a>
        <a routerLink="{{catalogItem.id}}" *ngIf="!editMode">{{catalogItem.title}}</a>
      </h2>
      <div class="catalog-item-description-details">
        <span class="catalog-item-description-icon">
          <app-like [catalogItem]="catalogItem" *ngIf="catalogItem.likes"></app-like>
        </span>
        <span class="catalog-item-description-icon">
          <i class="material-icons">visibility</i> {{catalogItem.views}}
        </span>
        <span class="item-by"><span [innerHTML]="'catalogItemPreview.itemBy' | translate"></span>&nbsp;<span class="user-name">{{catalogItem.user_name}}</span></span>
      </div>
      <div class="catalog-item-description-text">
        <span>{{catalogItem.description}}</span>
        <span class="catalog-item-description-spacer">&nbsp;</span>
      </div>
    </div>
    <div class="catalog-item-price">
      <span class="catalog-item-price-amount">{{ catalogItem.price | currency: 'USD':'1.2-2' }}</span>
      <button class="catalog-item-price-details" *ngIf="editMode == undefined"
        routerLink="{{catalogItem.id}}"
        mat-raised-button color="primary"
        >{{ 'catalogItemPreview.details' | translate }}</button>
      <button class="catalog-item-price-buy" *ngIf="editMode == undefined"
        mat-raised-button color="accent"
        (click)="buyItem()"
        >{{ 'catalogItemPreview.buy' | translate }}</button>
    </div>
    <button mat-icon-button
      class="catalog-item-edit-menu"
      *ngIf="editMode"
      [matMenuTriggerFor]="itemMenu">
      <i class="material-icons">more_vert</i>
    </button>
  </mat-card-content>
</mat-card>

<mat-menu #itemMenu="matMenu">
  <button mat-menu-item (click)="editItem()">
    <mat-icon>mode_edit</mat-icon>
    <span>{{ 'catalogItemPreview.edit' | translate }}</span>
  </button>
  <button mat-menu-item (click)="openConfirmDeleteDialog()">
    <mat-icon>delete</mat-icon>
    <span>{{ 'catalogItemPreview.delete' | translate }}</span>
  </button>
</mat-menu>
