@import '../breakpoints';
button {
  width: 100%;
  padding: 10px;
  height: auto;
  min-width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-label {
  display: none;
  @media all and (max-width: $media-width-small) {
    display: inline;
  }
}

.theme-preview {
  display: block;
  height: 25px;
  width: 25px;
  margin-right: 7px;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  box-shadow: 1px 1px 2px black;
  
  i {
    display: block;
    font-weight: 600;
  }
}