h1 {
  text-align: center;
}

.page-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  span {
    color: #828282;
    margin-top: 6px;
    font-size: 16px
  }
  button {
    height: 80px;
    width: 80px;
  }
  i {
    font-size: 38px;
  }
}
