h1 {
  text-align: center;
}

.page-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    max-width: 200px;
    min-width: 100px;
  }
}
