<div class="not-found-container">
  <i class="material-icons not-found-icon">report_problem</i>
  <h1 [translate]="'notfound.title'">Sorry, page not found</h1>
  <p [innerHTML]="'notfound.content' | translate:{docURL: documentURL}">This route leads nowhere. If you believe it shouldn't be this way, please
    let us know <a href="mailto:admin@example.com?subject=The address {{documentURL}} leads nowhere">admin@example.com</a>. Thank you!
  </p>
  <p [innerHTML]="'notfound.goToMain' | translate">
    And while there's not much to see here, you still can visit <a href="/">the main page</a>.
  </p>

</div>
