.not-found-container {
  margin: 0 auto;
  max-width: 640px;
  .not-found-icon {
    display: block;
    margin: 28px auto;
    width: 150px;
    font-size: 150px;
    color: rgba(0, 0, 0, .25);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .09);
    }
    h1 {
      text-align: center;
    }
}
