$selected-nav-bg-color: rgba(0, 0, 0, .08);

.main-sidenav-container {
  flex: 1 1 auto;
}

.main-sidenav {
  width: 250px;
}

.main-sidenav-item {
  width: 100%;
}

.active {
  background-color: $selected-nav-bg-color;
}
