.views-component{
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: baseline;
  flex-shrink: 0;

  .views-icon {
    font-size: 17px;
  }

  .views-count {
    font-size: 14px;
    vertical-align: middle;
  }
}