@import '../../breakpoints';
@import '../../shared-props';

.catalog-item-container {
  margin: 0 auto;
  max-width: $card-max-width;
}

.catalog-item {
  margin: $card-margins;
  max-width: 1024px;
  padding: 7px 20px 20px;

  &-title {
    mat-form-field {
      font-size: 24px;
      width: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @media all and (max-width: $media-width-small) {
      flex-wrap: wrap;
    }
  }

  &-image {
    height: 100%;
    margin: 3px;
    min-width: 250px;

    img {
      max-height: 100%;
    }
  }

  &-description-container {
    margin-top: 13px;

    mat-form-field {
      width: 100%;
    }
  }

  &-price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    input,
    span {
      font-size: 24px;
      font-weight: 500;
    }

    input {
      text-align: right;
    }

    .price-suffix {
      margin-left: .2em;
    }
  }

  &-footer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .cancel {
      margin-right: 15px;
    }
  }
}
