// Default margins for cards components.
$card-margin-right: 20px;
$card-margin-left: 20px;
$card-margin-top: 20px;
$card-margin-bottom: 20px;
$card-margins: $card-margin-top $card-margin-right $card-margin-bottom $card-margin-left;