.app-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-side-nav {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
