<mat-card class="item" >
  <mat-card-content class="content" *ngIf="item">
      <div class="details">
        <h1 class="item-title">{{item.title}}</h1>

        <div class="item-icons">
          <span class="item-icon-container">
            <button mat-icon-button>
              <i class="material-icons like">favorite</i>
            </button>
            <span class="like-count">{{item.likes}}</span>
          </span>
          <span class="item-icon-container">
            <i class="material-icons">visibility</i> {{item.views}}
          </span>
        </div>

        <div class="carousel">
          <!-- Photos carousel  -->
          <div class="swipeslider" #itemPhotos id="photos">
            <ul class="sw-slides">
              <li class="sw-slide" *ngFor="let photo of item.photos; let i=index;">
                <img src="{{photo.url}}" alt="Photo {{i+1}}">
              </li>
            </ul>
          </div>
        </div>
        <div class="description">
          {{item.description}}
        </div>
      </div>

      <div class="controls">
          <span class="price-amount">{{item.price}} $</span>
          <button class="buy-button" mat-raised-button color="accent"
          >{{ 'catalogItemDetails.buy' | translate }}</button>
      </div>
  </mat-card-content>
  <div *ngIf="!item" class="loading">
    {{ 'catalogItemDetails.loading' | translate }}
  </div>
</mat-card>
