@import '~@angular/material/theming';

@mixin catalog-item-details-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  app-catalog-item-details {
    .item-icons {
      color: map-get($primary, default);

      .like {
        color: map-get($primary, darker);
      }
      .liked {
        color: map-get($accent, default);
      }
    }

    .item-by {
      color: map-get($foreground, secondary-text);
    }

    .user-name {
      color: map-get($foreground, text);
    }
  }
}
