@import '../../../breakpoints';
@import '../../../shared-props';

.catalog-item-container {
  margin: 0 auto;
  max-width: $card-max-width;
}

.item {
  margin: $card-margins;
  padding: 7px 20px 20px;
}

.content {
  display: flex;
  flex-direction: row;
  @media all and (max-width: $media-width-small) {
    flex-direction: column;
  }
}

.item-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.details {
  flex-grow: 1;
}

.item-icons {
  i {
    font-size: 17px;
  }

  .like-count {
    left: -5px;
    margin-right: 7px;
    position: relative;
  }

  .item-by {
    margin-left: 10px;
    @media all and (max-width: $media-width-small) {
      margin-left: 0;
      display: block;
    }
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  @media all and (max-width: $media-width-small) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0 0;
  }

  .price-amount {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 0 15px 0;
    text-align: center;
    @media all and (max-width: $media-width-small) {
      //margin: 0;
      flex-grow: 1;
    }
  }

  .buy-button {
    display: block;
    margin: 0 auto 7px;
    @media all and (max-width: $media-width-small) {
      flex-grow: 1;
      min-width: 100%;
    }
  }

  .back-button {
    @media all and (max-width: $media-width-small) {
      flex-grow: 1;
      min-width: 100%;
    }
  }
}

.loading {
  text-align: center;
  font-size: 17px;
}
