<div class="catalog-item-container">
  <mat-card class="item" >
    <mat-card-content class="content" *ngIf="item">
        <div class="details">
          <h1 class="item-title">{{item.title}}</h1>
          <div class="item-icons">
            <span class="item-icon-container">
              <app-like [catalogItem]="item"></app-like>
            </span>
            <span class="item-icon-container">
                <app-views [catalogItem]="item"></app-views>
            </span>
            <span class="item-by">{{ 'catalogItemPreview.itemBy' | translate }}  <span class="user-name">{{item.user_name}}</span></span>
          </div>

          <div class="carousel">
            <!-- Photos carousel  -->
            <div class="swipeslider" #itemPhotos id="photos">
              <ul class="sw-slides">
                <li class="sw-slide" *ngFor="let photo of item.photos; let i=index;">
                  <img src="{{photo.url}}" alt="Photo {{i+1}}">
                </li>
              </ul>
            </div>
          </div>
          <div class="description">
            {{item.description}}
          </div>
        </div>

        <div class="controls">
            <span class="price-amount">{{ item.price | currency: 'USD':'1.2-2' }}</span>
            <button class="buy-button" mat-raised-button color="accent"
            (click)="buyItem(item)"
            >{{ 'catalogItemDetails.buy' | translate }}</button>

            <button mat-raised-button color="primary"
            class="back-button"
            type="button" 
            (click)="cancelClick()"
            >
              {{ 'catalogItemPreview.back' | translate }}
            </button>
        </div>
    </mat-card-content>
    <div *ngIf="!item" class="loading">
      {{ 'catalogItemDetails.loading' | translate }}
    </div>
  </mat-card>
</div>