@import '../../shared-props';

.catalog-container {
  margin: 0 auto;
  max-width: 980px;
  .items-count {
    text-align: right;
    margin-right: $card-margin-right;
    position: relative;
    bottom: -($card-margin-top / 2);
  }
}

.new-item {
  margin: $card-margins;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 171px;
  justify-content: center;

  span {
    color: #828282;
    margin-top: 6px;
    font-size: 16px
  }
  button {
    height: 80px;
    width: 80px;
  }
  i {
    font-size: 38px;
  }
}
