<!-- <div class="new-item">
  <button mat-raised-button color="primary" (click)="addNewItem()">
    <i class="material-icons">add</i>
    Add new</button>
</div> -->

<div class="new-item">
  <button mat-fab color="primary" type="button" (click)="addNewItem()">
    <i class="material-icons">add_circle_outline</i>
  </button>
  <span>{{ 'myItems.newItem' | translate }}</span>
</div>

<div class="catalog-container">
  <div class="items-count" [translate]="'myItems.count' | translate:{count: itemsCount}">You have no items</div>
  <app-catalog-item *ngFor="let catalogItem of catalog"
    [editMode]="true"
    [catalogItem]="catalogItem"
    (onDeleteClick)="deleteItem($event)"
    (onEditClick)="editItem($event)"
    class="catalog-item">
  </app-catalog-item>
</div>
