@import '~@angular/material/theming';

// Include common styles for Angular material.
@include mat-core();

// Components themes import:
@import './app/catalog/catalog-item-edit/catalog-item-edit.component.scss-theme';
@import './app/catalog/catalog-item-details/catalog-item-details.component.scss-theme';

// Mixin for custom components.
@mixin custom-components-theme($theme) {
  @include catalog-item-component-theme($theme);
  @include catalog-item-details-component-theme($theme);
}

// Hazy Day, theme with primarily shades of grey.
.hazy-day-theme {
  $hazy-day-primary: mat-palette($mat-blue-grey);
  $hazy-day-accent: mat-palette($mat-grey, A200, A100, A40);
  $hazy-day-warn: mat-palette($mat-deep-orange, A200, A100, A400);
  $hazy-day-theme: mat-light-theme($hazy-day-primary, $hazy-day-accent, $hazy-day-warn);

  @include angular-material-theme($hazy-day-theme);
  @include custom-components-theme($hazy-day-theme);
}

// Black watch, theme dark theme.
.black-watch-theme {
  $black-watch-primary: mat-palette($mat-grey);
  $black-watch-accent: mat-palette($mat-grey, A200, A100, A400);
  $black-watch-warn: mat-palette($mat-deep-orange, A200, A100, A400);
  $black-watch-theme: mat-dark-theme($black-watch-primary, $black-watch-accent, $black-watch-warn);

  @include angular-material-theme($black-watch-theme);
  @include custom-components-theme($black-watch-theme);
}




// Custom theme file for the project.
body {
    //background-color: white;
}

a {
  color: #0366d6;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
