@import '~@angular/material/theming';

// Include common styles for Angular material.
@include mat-core();

// Custom theme file for the project.
body {
    //background-color: white;
}

a {
  color: #0366d6;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
