/* Normalizing Browser styles. */
@import "normalize.css";

/* You can add global styles to this file, and also import other style files */
/*
    Using pre-built theme of material.
    Available:
- deeppurple-amber.css
- indigo-pink.css
- pink-bluegrey.css
- purple-green.css
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Predefine icons size */
.material-icons.md-14 {
    font-size: 14px;
  }
  
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: middle;
}