@import '../../breakpoints';

.images-container {
  border: 1px solid #8080803d;
  display: flex;
  flex-direction: row;
  height: 250px; // Mock height
  overflow-x: auto;
  overflow-y: hidden;
}

.image-deleted {
  display: none !important;
}

.image-container {
  height: 100%;
  margin: 3px;
  min-width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  button {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .remove-item {
    color: #fff;
    font-size: 29px;
    text-shadow: 1px 1px 4px #000000a6;
  }
}

.image-add {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-width: 171px;
  justify-content: center;
  span {
    color: #adadad;
    margin-bottom: 9px;
  }
  button {
    height: 80px;
    width: 80px;
  }
  i {
    font-size: 38px;
  }
}
